[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-security = "*"
flask-wtf = "==1.0.1"
flask-sqlalchemy = "*"
email-validator = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.11"
